:root {
  --background: #121212;
  --text_color: white;
}

body {
  background-color: var(--background);
  color: var(--text_color);
}

#header {
  font-size: 32px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

.ticker {
  padding-left: 0px;
}

.articles {
  padding-top: 5px;
  text-indent: 30px;
  list-style: none;
  background-color:rgba(68, 68, 68, .4) ;
}

.articles li {
  padding-bottom: 20px;
}
