/* base colors */
:root {
  --background: #191919;
  --text_color: rgba(255, 255, 255, 0.95);
  --primary: #bb86fc;
  --text_box: #3b3b3b;
  --red: #cf6679;
}

/* resets the margin and padding for all */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--text_color);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: none;
}

/* header styles */
header {
  display: flex;
  margin: 5vh 5vw;
  margin-top: 25px;
  justify-content: space-between;
}

.logo {
  height: 9.2%;
  width: 13.68%;
  max-height: 92px;
  max-width: 114px;
}

.title {
  font-size: 2.2rem;
  text-shadow: 4px 4px 4px var(--primary);
  margin-left: 8vw;
  padding-top: 17px;
  color: #ffffff;
}

input {
  outline: none;
}

.input_feild {
  background-color: var(--text_box);
  color: var(--text_color);
  width: 25vw;
  max-width: 238px;
  height: 38px;
  border: none;
  border-radius: 12px;
  padding-left: 15px;
}

#search_button {
  width: 45px;
  height: 40px;
  transform: translate(-25px, 2px);
  border-radius: 15px;
  background-color: var(--primary);
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}

#search_button:hover {
  background-color: rgb(179, 122, 248);
  cursor: pointer;
}

.search_bar {
  padding-top: 18px;
  transform: translateX(25px);
}

/* Stock container style */

.stock_container {
  margin: 5vh 5vw;
}

.stock_header {
  display: flex;
  margin-bottom: 15px;
  color: var(--text_color);
  font-size: 18px;
}

.price {
  padding-left: 25px;
}

.percent_change {
  padding-left: 20px;
  color: var(--primary);
}

.negative {
  padding-left: 20px;
  color: var(--red);
}

.stock_header button {
  background-color: var(--red);
  position: absolute;
  right: 5vw;
  width: 30px;
  height: 30px;
}

.stock_header button:hover {
  background-color: #cf5d72;
  cursor: pointer;
}

/* line in the remove button */
.line {
  border-bottom: 2px solid black;
  width: 14px;
  margin-left: 8px;
  margin-top: 2px;
}

/* article styles */
.articles {
  background-color: var(--text_box);
  padding: 15px;
}

.articles h3 {
  font-size: 22px;
  padding-bottom: 15px;
  margin-left: 3px;
  text-decoration: underline;
}

.articles p {
  font-size: 17px;
  padding-bottom: 10px;
  text-indent: 51px;
  line-height: 25px;
}

.background {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  background-image: url(../img/background-lines.png);
  background-size: 100%;
  background-repeat: repeat-y;
  /* resetting the view port */
  top: 165px;
  left: 0;
  right: 0;
  bottom: 0;
  background-attachment: fixed;
}

/* media querys for responsive design*/
@media screen and (max-width: 775px) {
  header {
    display: flex;
    margin: 5vh 5vw;
    margin-top: 25px;
  }

  .title {
    position: absolute;
    margin-left: 0px;
    font-size: 2.2rem;
  }

  .input_feild {
    width: 30vw;
  }

  .logo {
    visibility: hidden;
  }
}

@media screen and (max-width: 553px) {
  header {
    display: grid;
    margin-top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'title'
      'search_bar';
  }

  .search_bar {
    text-align: center;
    transform: translateX(15px);
    margin-top: 15px;
  }

  .input_feild {
    width: 205px;
    max-width: none;
    min-width: 205px;
  }

  .title {
    text-align: center;
    position: relative;
    padding: 0;
    margin-top: 0;
  }

  #search_button {
    transform: translate(-25px, 1px);
  }
}

body::-webkit-scrollbar {
  display: none;
}
